Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
requests==2.31.0
google-auth-oauthlib==0.4.6
google-auth==2.3.0
google-api-python-client==2.86.0
urllib3==1.26.7
celery==5.2.7
redis==4.5.5
pytz==2023.3
python-dateutil==2.8.2
importlib-metadata==6.7.0
zipp==3.15.0
setuptools>=65.5.1

